<% include ../partials/header %>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<!-- <style>
    #messages{height:300px;}
</style>
<div class="container" style="margin-top:5%">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-sm-12">
                <h1 class="text-center">
                    Chat
                </h1>
                <div id="status"></div>
                <div id="chat">
                    <div class="card">
                        <div id="messages" class="card-block">

                        </div>
                    </div>
                    <br>
                    <textarea id="textarea" class="form-control" placeholder="Enter message..."></textarea>
                </div>
            </div>
        </div>
</div> -->
<style>
.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.outgoing_msg_img {
  display: inline-block;
  width: 6%;
  margin-left: 46%
}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative; margin-top:2%}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
/* .file_send_btn {
  
} */
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 200rem;
  /* max-width: 1170px; */

   /* 516px */
  /* overflow-y: auto; */
}  
</style>
<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
          <div class="inbox_msg">
            <div class="mesgs">
              <div class="msg_history" id="msg_history">
                <% chats.forEach(function(val) { %>
                  <% if(name == val.receiver.username) { %>
                    <div class="incoming_msg" id="rmsg">
                        <div class="incoming_msg_img"> <img src="../upload/images/tony.jpeg" alt=""> </div>
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <span id="receiver"><%=val.senderNamer%></span>
                            <p id="message1"><%=val.message%></p>
                            <span class="time_date" id="time_date"><%=val.createdAt%></span>
                          </div>
                        </div>
                      </div>
                  <% } else if(name == val.sender.username) { %>
                    <div class="outgoing_msg" id="smsg">
                        <div class="outgoing_msg_img"> 
                          <img src="../upload/images/tony.jpeg" alt="sunil"> 
                        </div>  
                        <div class="sent_msg">
                            <span id="sender"><%=val.senderName%></span>
                            <p id="message1"><%=val.message%></p>
                            <span class="time_date"><%=val.createdAt%></span> 
                        </div>
                  </div>
                  <% } %>
               <% })%>
                <div class="incoming_msg" id="rmsg">
                    <script id="message-template1" type="text/template">
                  <div class="incoming_msg_img"> <img src="../upload/images/tony.jpeg" alt=""> </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <span id="receiver">{{ sender }}</span>
                      <p id="message1">{{ text }}</p> 
                      <span class="time_date" id="time_date"></span>
                    </div>
                  </div>
                </script>
                </div>
                <div class="outgoing_msg" id="smsg">
                <script id="message-template" type="text/template">
                  <div class="outgoing_msg_img"> 
                    <img src="../upload/images/tony.jpeg" alt="sunil"> 
                  </div>  
                  <div class="sent_msg">
                      <span id="sender">{{ sender }}</span>
                      <p id="message1">{{ text }}</p>
                      <span class="time_date"></span> 
                    </div>
              </script>
            </div>
              </div>
              <div class="type_msg">
                  <div class="input_msg_write">
                <form id="message_form">
                        <input type="text" id="user_name" name="user_name" value="<%= user %>" hidden>
                        <input type="text" class="write_msg" id="msg" name="msg" placeholder="Type a message" />
                        <!-- <button class="file_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button> -->
                        <button class="msg_send_btn" id="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </form>
              </div>
            </div>
              
            </div>
          </div>
          
        </div></div>
<% include ../partials/footer %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script type="text/javascript" src="../js/deparam.js"></script>
<script type="text/javascript" src="../js/pm.js"></script>